body {
  font-family: Arial, sans-serif;
  direction: rtl;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

/* ترويسة الموقع */
header {
  background-color: #222;
  color: #fff;
  padding: 15px 0;
  position:static;
  width: 100%;
  top: 0;
  z-index: 1000;
  text-align: center;
}
header h1 {
  font-size: 2rem;
}
nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover {
  color: #706e6e;
}

#search {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

#search-bar {
  width: 60%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #222;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.characters-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: flex-start;
  padding: 0 15px;
}

.character-card-link {
  text-decoration: none;
  color: inherit;
}

.character-card-link:hover {
  cursor: pointer;
}


.character-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 200px;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s;
}

.character-card img {
  width: 100%;
  border-radius: 10px;
}

.character-card:hover {
  transform: scale(1.05);
}

footer {
  background-color: #222;
  color: #fff;
  padding: 10px;
  position:relative;
  bottom: 0;
  width: 100%;
}